.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      %p.chat-side__side-header__box__user-name
        Shuichi
      %ul.chat-side__side-header__box__menu
        %li
          %a{href: '#'}
            %i.fa.fa-edit        
        %li
          %a{href: '#'}
            %i.fa.fa-cog
  .chat-side__groups
    %a
      .chat-side__groups__group
        %p.chat-side__groups__group__group-name
          techcamp
        %p.chat-side__groups__group__latest-message
          tt
    %a
      .chat-side__groups__group
        %p.chat-side__groups__group__group-name
          techcamp
        %p.chat-side__groups__group__latest-message
          tt
    %a
      .chat-side__groups__group
        %p.chat-side__groups__group__group-name
          techcamp
        %p.chat-side__groups__group__latest-message
          tt